In [1]:
dict={}

In [3]:
type(dict)

dict

In [4]:
dict1={1:'One',2:'Two',3:'Three',4:'Four'}

In [5]:
dict1[2]

'Two'

In [6]:
student={'name':'Luffy','marks':[67,89,76,88]}

In [7]:
student['marks']

[67, 89, 76, 88]

In [8]:
cube={x:x*x*x for x in range(11)}

In [9]:
print(cube,end=' ')

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [11]:
cube[2]

8

In [12]:
cube[5]

125

In [13]:
double={x:2*x for x in range(11)}

In [14]:
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [15]:
double[6]

12

In [16]:
student={'name':'Luffy','roll':'AD69','marks':67}

In [17]:
n=student['name']
r=student['roll']
m=student['marks']

In [18]:
print(n,r,m)

Luffy AD69 67

In [19]:
for i in student:
    print(i)

name
roll
marks

In [20]:
for j in student.values():
    print(j)

Luffy
AD69
67

In [21]:
for i,j in student.items():
    print(i,j)

name Luffy
roll AD69
marks 67

In [22]:
marks={'Naruto':87,
      'Luffy':78,
      'Ichigo':97,
      'Goku':100}
for n,m in marks.items():
    print(f"{n} scored {m} marks")

Naruto scored 87 marks
Luffy scored 78 marks
Ichigo scored 97 marks
Goku scored 100 marks

In [23]:
double={x:2*x for x in range(11) if x%2==0}

In [24]:
double

{0: 0, 2: 4, 4: 8, 6: 12, 8: 16, 10: 20}

In [25]:
for i,j in double.items():
    print(f"{i} x 2 = {j}")
#or
for i,j in double.items():
    print("%d x 2 = %d"%(i,j))

0 x 2 = 0
2 x 2 = 4
4 x 2 = 8
6 x 2 = 12
8 x 2 = 16
10 x 2 = 20
0 x 2 = 0
2 x 2 = 4
4 x 2 = 8
6 x 2 = 12
8 x 2 = 16
10 x 2 = 20

removing item from dictionary

In [26]:
color={'r':'red','b1':'black','b2':'blue','g':'green'}

In [27]:
color

{'r': 'red', 'b1': 'black', 'b2': 'blue', 'g': 'green'}

In [28]:
color['w']='white'

In [29]:
color

{'r': 'red', 'b1': 'black', 'b2': 'blue', 'g': 'green', 'w': 'white'}

In [30]:
color.pop('b2')

'blue'

In [31]:
color

{'r': 'red', 'b1': 'black', 'g': 'green', 'w': 'white'}

In [32]:
color.popitem()

('w', 'white')

In [33]:
color

{'r': 'red', 'b1': 'black', 'g': 'green'}

In [34]:
color.clear()

In [35]:
color

{}

In [36]:
del color

In [37]:
#color

using dictionary metods

In [38]:
keys={'a','e','i','o','u'}

In [39]:
vowels=dict.fromkeys(keys)

In [40]:
print(vowels)

{'u': None, 'o': None, 'i': None, 'e': None, 'a': None}

In [41]:
keys={'a','e','i','o','u'}
value='Vowel'

In [48]:
v=dict.fromkeys(keys,value)
print(v)

{'u': 'Vowel', 'o': 'Vowel', 'i': 'Vowel', 'e': 'Vowel', 'a': 'Vowel'}

In [49]:
numbers={'one':1,'two':2,'three':3,'four':4,'five':5}
numbers

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [50]:
print(sorted(numbers))

['five', 'four', 'one', 'three', 'two']

setting default value

In [56]:
#setting default value when key in dictionary
emp={'name':'Atul','age':23}
age=emp.setdefault('age')
print(emp)

{'name': 'Atul', 'age': 23}

In [57]:
age

23

In [60]:
#when key is not dictionary
emp={'name':'Atul'}
city=emp.setdefault('city')
age=emp.setdefault('age',22)

In [61]:
emp

{'name': 'Atul', 'city': None, 'age': 22}

In [62]:
city

In [63]:
age

22

In [64]:
#updating stationary
print(emp)

{'name': 'Atul', 'city': None, 'age': 22}

In [65]:
c={'city':'Nagpur'}
emp.update(c)
print(emp)

{'name': 'Atul', 'city': 'Nagpur', 'age': 22}

In [66]:
emp.update(desig='Programmer')
emp.update(salary=45000)
for k,v in emp.items():
    print(k," is ",v)

name  is  Atul
city  is  Nagpur
age  is  22
desig  is  Programmer
salary  is  45000

converting list to dictionary

In [1]:
month=['Jan','Feb','March','April','May','June',
       'July','August','Septmber','October','November','December']
days=[31,28,31,30,31,30,31,31,30,31,30,31]

In [2]:
month_days=zip(month,days)

In [3]:
month_days

In [4]:
m_d=list(month_days)

In [5]:
print(m_d,end=' ')

[('Jan', 31), ('Feb', 28), ('March', 31), ('April', 30), ('May', 31), ('June', 30), ('July', 31), ('August', 31), ('Septmber', 30), ('October', 31), ('November', 30), ('December', 31)]

In [6]:
type(m_d)

list

In [7]:
m_d_dict=dict(m_d)

In [8]:
m_d_dict

{'Jan': 31,
 'Feb': 28,
 'March': 31,
 'April': 30,
 'May': 31,
 'June': 30,
 'July': 31,
 'August': 31,
 'Septmber': 30,
 'October': 31,
 'November': 30,
 'December': 31}

nested dictionary

In [9]:
student={
    1:{'name':'Ajay','marks':88,'result':'Pass'},
    2:{'name':'Atul','marks':28,'result':'Fail'}
}

In [10]:
student

{1: {'name': 'Ajay', 'marks': 88, 'result': 'Pass'},
 2: {'name': 'Atul', 'marks': 28, 'result': 'Fail'}}

In [11]:
#printing inner dictionary
print(student[1])

{'name': 'Ajay', 'marks': 88, 'result': 'Pass'}

In [12]:
print(student[2])

{'name': 'Atul', 'marks': 28, 'result': 'Fail'}

In [13]:
#printing element of nested dictionary
student[1]['name']

'Ajay'

In [14]:
student[2]['result']

'Fail'

In [15]:
#adding dictionary
student[3]={}
student[3]['name']='Arjit'
student[3]['marks']=57
student[3]['result']='Pass'

# or

student[4]={'name':'Rahman','marks':22,'result':'Fail','city':'Nagpur'}

In [16]:
print(student[3])

{'name': 'Arjit', 'marks': 57, 'result': 'Pass'}

In [17]:
print(student[4])

{'name': 'Rahman', 'marks': 22, 'result': 'Fail', 'city': 'Nagpur'}

In [18]:
student

{1: {'name': 'Ajay', 'marks': 88, 'result': 'Pass'},
 2: {'name': 'Atul', 'marks': 28, 'result': 'Fail'},
 3: {'name': 'Arjit', 'marks': 57, 'result': 'Pass'},
 4: {'name': 'Rahman', 'marks': 22, 'result': 'Fail', 'city': 'Nagpur'}}

In [19]:
#delete element of nested dictionary
del student[4]['city']

In [20]:
student

{1: {'name': 'Ajay', 'marks': 88, 'result': 'Pass'},
 2: {'name': 'Atul', 'marks': 28, 'result': 'Fail'},
 3: {'name': 'Arjit', 'marks': 57, 'result': 'Pass'},
 4: {'name': 'Rahman', 'marks': 22, 'result': 'Fail'}}

In [21]:
del student[2],student[3]

In [22]:
student

{1: {'name': 'Ajay', 'marks': 88, 'result': 'Pass'},
 4: {'name': 'Rahman', 'marks': 22, 'result': 'Fail'}}

In [23]:
#printing nested dictionary
s={1: {'name': 'Ajay', 'marks': 88, 'result': 'Pass'},
 2: {'name': 'Atul', 'marks': 28, 'result': 'Fail'},
 3: {'name': 'Arjit', 'marks': 57, 'result': 'Pass'},
 4: {'name': 'Rahman', 'marks': 22, 'result': 'Fail'}}

In [24]:
for roll,info in s.items():
    print("\nRoll no: ",roll)
    for k in info:
        print(k+':', info[k])

Roll no:  1
name: Ajay
marks: 88
result: Pass

Roll no:  2
name: Atul
marks: 28
result: Fail

Roll no:  3
name: Arjit
marks: 57
result: Pass

Roll no:  4
name: Rahman
marks: 22
result: Fail

In [25]:
#store marks of three students in 4 subjects in seperate dctionaries.
#create a nested dictionary that stored name and marks detail 
#from previously created dictionaries and print

s1={'c':79,'c++':69,'python':95,'MySQL':68}
s2={'c':99,'c++':45,'python':85,'MySQL':60}
s3={'c':54,'c++':64,'python':73,'MySQL':47}
stud_dict={'Anil':s1,'Ravi':s2,'Rajesh':s3}
for i in stud_dict.keys():
    print('Name:',i)
    print('Subject','\t','Marks')
    for j in stud_dict[i].keys():
        print(j,'\t\t',stud_dict[i][j])
    print()

Name: Anil
Subject 	 Marks
c 		 79
c++ 		 69
python 		 95
MySQL 		 68

Name: Ravi
Subject 	 Marks
c 		 99
c++ 		 45
python 		 85
MySQL 		 60

Name: Rajesh
Subject 	 Marks
c 		 54
c++ 		 64
python 		 73
MySQL 		 47

In [26]:
#print the output of above the programin tabular format. also calculate total amrks of every student
s1={'c':79,'c++':69,'python':95,'MySQL':68}
s2={'c':99,'c++':45,'python':85,'MySQL':60}
s3={'c':54,'c++':64,'python':73,'MySQL':47}
stud_dict={'Anil':s1,'Ravi':s2,'Rajesh':s3}
print("Name",end='\t')
for i in s1.keys():
    print(i,end='\t')
print('total')
for i in stud_dict.keys():
    total=0
    print(i,end='\t')
    for j in stud_dict[i].keys():
        print(stud_dict[i][j],end='\t')
        total+=stud_dict[i][j]
    print(total)

Name	c	c++	python	MySQL	total
Anil	79	69	95	68	311
Ravi	99	45	85	60	289
Rajesh	54	64	73	47	238

In [27]:
#declare 3 dictionaries containing name and marks in 4 subjectas member of list and print details
st=[{'Name':'Anil','s1':67,'s2':84,'s3':86,'s4':60},
   {'Name':'Abhay','s1':69,'s2':48,'s3':82,'s4':90},
   {'Name':'Atul','s1':81,'s2':95,'s3':66,'s4':61}]
for k in st[0]:
    print(k,end='\t')
print()
for i in range(len(st)):
    s=st[i]
    for j in s.values():
        print(j,end='\t')
    print()

Name	s1	s2	s3	s4
Anil	67	84	86	60
Abhay	69	48	82	90
Atul	81	95	66	61

In [30]:
#declare directory to  create new, edit, and display multiple input for name and mobile number
d=dict()
while True:
    print(
    '''---- Main Menu ----
    1. Create Directory
    2. Edit Directory
    3. Display Directory
    ----------------------'''
    )

    o=int(input("Select Main Menu Option: "))
    if o==1:  #creating contacts
        n=int(input("Enter no of contacts: "))
        for i in range(n):
            key=input("Name: ")
            value=int(input("Mobile no.: "))
            d[key]=value
    elif o==2:  #editing contacts
        print(
            '''-------Edit Menu-------
            1. Add a new contact
            2. Change a contact number
            '''
        )
        s=int(input('Select edit menu options: '))
        if s==1:
            key=input("Enter new contact name: ")
            value=int(input('Enter mobile number: '))
            d[key]=value
        elif s==2:
            key=input("Enter existing contact name: ")
            value=int(input('Enter new mobile number: '))
            d[key]=value
        else:
            print("Invalid Input !!! ")
    elif o==3:  #display contacts
        print("Name (Mobile number)\n")
        for key in d:
            print(key,'(',d[key],")")
    else:
        print("Invalid Input !!!")
    q=input("Do you wish to continue? (y/n):")
    if q in 'nN':
        break

---- Main Menu ----
    1. Create Directory
    2. Edit Directory
    3. Display Directory
    ----------------------

Select Main Menu Option:  1
Enter no of contacts:  2
Name:  Naruto
Mobile no.:  12456
Name:  Hinata
Mobile no.:  54689
Do you wish to continue? (y/n): y

---- Main Menu ----
    1. Create Directory
    2. Edit Directory
    3. Display Directory
    ----------------------

Select Main Menu Option:  3

Name (Mobile number)

Naruto ( 12456 )
Hinata ( 54689 )

Do you wish to continue? (y/n): 2

---- Main Menu ----
    1. Create Directory
    2. Edit Directory
    3. Display Directory
    ----------------------

Select Main Menu Option:  2

-------Edit Menu-------
            1. Add a new contact
            2. Change a contact number

Select edit menu options:  1
Enter new contact name:  Sasuke
Enter mobile number:  98653
Do you wish to continue? (y/n): 3

---- Main Menu ----
    1. Create Directory
    2. Edit Directory
    3. Display Directory
    ----------------------

Select Main Menu Option:  3

Name (Mobile number)

Naruto ( 12456 )
Hinata ( 54689 )
Sasuke ( 98653 )

Do you wish to continue? (y/n): n

In [33]:
#Nested Dictionary Aggregation (Advanced)
#Calculate total marks and percentage for each student.
students = {
    "Amit": {"Math": 85, "Science": 90, "English": 78},
    "Riya": {"Math": 92, "Science": 88, "English": 95},
    "Karan": {"Math": 70, "Science": 65, "English": 72}
}

result = {}

for name, subjects in students.items():
    total = 0
    for marks in subjects.values():
        total += marks

    percentage = total / len(subjects)
    result[name] = {"Total": total, "Percentage": percentage}

print(result)

{'Amit': {'Total': 253, 'Percentage': 84.33333333333333}, 'Riya': {'Total': 275, 'Percentage': 91.66666666666667}, 'Karan': {'Total': 207, 'Percentage': 69.0}}

In [34]:
#Reverse Dictionary with Grouping
#Reverse a dictionary where values repeat.
data = {
    "apple": "fruit",
    "carrot": "vegetable",
    "banana": "fruit",
    "spinach": "vegetable"
}

reverse = {}

for key, value in data.items():
    if value not in reverse:
        reverse[value] = []
    reverse[value].append(key)

print(reverse)

{'fruit': ['apple', 'banana'], 'vegetable': ['carrot', 'spinach']}

In [35]:
#Merge Dictionaries with Value Addition
#Merge dictionaries and add values of common keys.
d1 = {"a": 10, "b": 20, "c": 30}
d2 = {"b": 5, "c": 15, "d": 25}

merged = {}

for key in d1.keys() | d2.keys():
    merged[key] = d1.get(key, 0) + d2.get(key, 0)

print(merged)

{'b': 25, 'a': 10, 'd': 25, 'c': 45}

In [36]:
#Frequency Count of Words (Advanced Logic)
sentence = "python is easy and python is powerful"

freq = {}

for word in sentence.split():
    freq[word] = freq.get(word, 0) + 1

print(freq)

{'python': 2, 'is': 2, 'easy': 1, 'and': 1, 'powerful': 1}

In [37]:
#Dictionary Sorting by Value (Without lambda)
scores = {"A": 85, "B": 92, "C": 78, "D": 90}

sorted_scores = {}

for k, v in sorted(scores.items(), key=lambda x: x[1]):
    sorted_scores[k] = v

print(sorted_scores)

{'C': 78, 'A': 85, 'D': 90, 'B': 92}

In [38]:
#Find Common Keys with Same Values
d1 = {"a": 10, "b": 20, "c": 30}
d2 = {"a": 10, "b": 25, "c": 30}

common = {}

for key in d1:
    if key in d2 and d1[key] == d2[key]:
        common[key] = d1[key]

print(common)

{'a': 10, 'c': 30}

In [39]:
#Dictionary-Based Mini Database (CRUD)
students = {}

students[101] = {"name": "Amit", "age": 20}
students[102] = {"name": "Riya", "age": 21}

students[101]["age"] = 22

del students[102]

print(students)

{101: {'name': 'Amit', 'age': 22}}

In [40]:
#Character Frequency (Case-Insensitive)
text = "Programming"

char_freq = {}

for ch in text.lower():
    char_freq[ch] = char_freq.get(ch, 0) + 1

print(char_freq)

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [41]:
#Convert List of Tuples to Nested Dictionary
data = [
    ("HR", "Amit", 50000),
    ("HR", "Riya", 55000),
    ("IT", "Karan", 70000)
]

dept = {}

for d, name, salary in data:
    if d not in dept:
        dept[d] = {}
    dept[d][name] = salary

print(dept)

{'HR': {'Amit': 50000, 'Riya': 55000}, 'IT': {'Karan': 70000}}